body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color:lightseagreen;
}

form {
  margin-bottom: 20px;
  padding: 10px;
  background:white;
  background-color:aqua;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input, select,button {
  margin: 5px;
  padding: 8px;
  
}


table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background: #333;
  color: white;
}

 